README.html
Predavanje_00/Predavanje_00.log
Predavanje_02/branje_podatkov_iz_excela.R
Predavanje_02/branje_podatkov_iz_tekstovnih_datotek.R
Predavanje_02/data_saved/math-scores.csv
Predavanje_02/data_saved/math-scores.txt
Predavanje_02/data_saved/math-scores.xlsx
Predavanje_02/data_saved/moj-excel.xlsx
Predavanje_02/moja_prva_skripta.R
Predavanje_02/archive/
Predavanje_04/tmp.R
Predavanje_04/tmp2.R
Predavanje_06/archive/
Predavanje_06/if-in-for.R
Predavanje_06/osnove-if.R
Predavanje_06/zanke.R
